    <%= render 'layouts/header' %>

    <section class="home" style="height: 100%">
        <div class="container">
            <h1>Bienvenido a <%= @restaurant.name %></h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="profit-box">
                        <% if session[:authenticated] %>
                            <h2>Ingresos del día</h2>
                            <h3><%= number_to_currency(@revenue_today) %></h3>
                        <% else %>
                            <h2>Ingresos del día</h2>
                            <h3>******</h3>
                        <% end %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profit-box">
                    <% if session[:authenticated] %>
                        <h2>Ingresos del mes</h2>
                        <h3><%= number_to_currency(@revenue_month) %></h3>
                    <% else %>
                        <h2>Ingresos del mes</h2>
                        <h3>******</h3>
                    <% end %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profit-box">
                    <% if session[:authenticated] %>
                        <h2>Ingresos del año</h2>
                        <h3><%= number_to_currency(@revenue_year) %></h3>
                    <% else %>
                        <h2>Ingresos del año</h2>
                        <h3>******</h3>
                    <% end %>
                    </div>
                </div>
            </div>    
            <% unless session[:authenticated] %>
            <div class="password-section">
                <h2>Ingrese la contraseña para ver los ingresos</h2>
                <%= form_with url: { action: 'authenticate', method: :post } do |form| %>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.password_field :password, placeholder: 'Contraseña', class: "form-control" %>
                        </div>
                        <div class="col-md-1">
                            <%= form.submit 'Ingresar', class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <% end %>
            <% if session[:authenticated] %>
            <div class="password-section">
                <h2>Ingrese la contraseña para ocultar los ingresos</h2>
                <%= form_with url: { action: 'unauthenticate', method: :post } do |form| %>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.password_field :password, placeholder: 'Contraseña', class: "form-control" %>
                        </div>
                        <div class="col-md-1">
                            <%= form.submit 'Ingresar', class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
            </div>
            <% end %>


    <% if session[:authenticated] %>
      <div class="row">
        <div class="col-md-8">
          <div id="revenue_chart"></div>

          <%= javascript_tag do %>
            var revenues = <%= raw @revenues.to_json.html_safe %>;

            var categories = revenues.map(function(item) {
              return item[0].toString();
            });

            var data = revenues.map(function(item) {
              return parseFloat(item[1]);
            });


            Highcharts.chart('revenue_chart', {
              chart: {
                style: {
                  borderRadius: '10px', // Adjust the border radius here
                },
                backgroundColor: 'transparent'
              },
              title: {
                enabled: false 
              },
              xAxis: {
                categories: categories,
                labels: {
                  enabled: false
                }
              },
              yAxis: {
                labels: {
                  enabled: false
                }
              },
              series: [{
                name: 'Ingresos del día',
                data: data,
                color: 'rgb(128, 0, 255)',
                lineColor: 'rgb(128, 0, 255)',
                style: {
                  fontSize: '16px', // Adjust the font size here
                }
              }],
              credits: {
                enabled: false
              }
            });
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
    

<style>
    .highcharts-title {
      display: none;
    }
  
    .highcharts-legend-item text {
      font-size: 16px !important;
    }
  
    .highcharts-yaxis {
      display: none;
    }
</style>