<%= render 'layouts/header' %>

<section class="home">
<div class="container dashboard-index" style="height: 100%">
<%= link_to 'Nueva categoría', new_restaurant_category_path(@restaurant), class: "btn btn-primary btn-dashboard2 btn-margin-bottom" %> 
<%= link_to 'Nueva comida', new_restaurant_food_item_path(@restaurant), class: "btn btn-primary btn-dashboard2 btn-margin-bottom" %> 
<% @restaurant.categories.where(deleted_at: nil).each_with_index do |category, index| %>
  <h4><%= category.name %>
  <%= link_to "Modificar", edit_restaurant_category_path(@restaurant, category), class: "btn btn-primary btn-margin-bottom btn-margin-top btn-dashboard" %>
          <%= link_to 'Eliminar', restaurant_category_path(@restaurant, category), method: :delete, class: 'btn btn-danger btn-margin-bottom btn-margin-top btn-dashboard' %>
          </h4>
      <% category.food_items.where(deleted_at: nil).each_slice(4) do |food_items_slice| %>
        <div class="row">
          <% food_items_slice.each do |food_item| %>
            <div class="col-3 col-sm-3 col-md-3">
              <div class="food-item-dashboard text-center" data-toggle="modal" data-target="#foodItemModal"
                   data-name="<%= food_item.name %>"
                   data-description="<%= food_item.description %>"
                   data-price="<%= number_to_currency(food_item.price, precision: 2, unit: '€') %>"
                   data-image-url="<%= url_for(food_item.image) if food_item.image.attached? %>">
                <%= image_tag food_item.image, class: "menu-image-dashboard menu-item" if food_item.image.attached? %>
                <h6><%= food_item.name %></h6>
                <h6><%= number_to_currency(food_item.price, precision: 2, unit: '€') %></h6>
                <%= link_to "Modificar", edit_restaurant_food_item_path(@restaurant, food_item), class: "btn btn-primary btn-margin-bottom btn-margin-top btn-dashboard" %>
                <%= link_to 'Eliminar', restaurant_food_item_path(@restaurant, food_item), method: :delete, class: 'btn btn-danger btn-margin-bottom btn-margin-top btn-dashboard' %>
                <% if food_item.minimum_persons.present? %>
                  <h6><i class='bx bx-user btn-margin-top'></i> <%= food_item.minimum_persons %></h6>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
<% end %>      

      </div>
</section>


<div class="modal fade" id="foodItemModal" tabindex="-1" role="dialog" aria-labelledby="foodItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-food text-center">
      <div class="modal-body">
        <div class="container-fluid">
              <div id="foodItemImageContainer">
              </div>
              <div id="foodItemDetails">
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.food-item-dashboard').click(function() {
      var name = $(this).data('name');
      var description = $(this).data('description');
      var imageUrl = $(this).data('image-url');
      
      var imageContent = '<img src="' + imageUrl + '" alt="' + name + '" class="food-item-popup-image">';
      var detailsContent = '<div class="food-item-name">' + name + '</div>';
      detailsContent += '<div class="food-item-description">' + description + '</div>';

      $('#foodItemImageContainer').html(imageContent);
      $('#foodItemDetails').html(detailsContent);
    });
  });
</script>
<style>


<style>


  .food-item-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }

  .food-item-description {
    font-size: 18px;
    margin-top: 10px;
  }
</style>