<%= render 'layouts/header' %>

<section class="home" style="height: 100%">
  <div class="container dashboard-index" style="margin-top: 10px">
  <h2>Información de cuenta bancaria</h2>
  <% if session[:authenticated] %>
    <%= form_for(@restaurant, url: restaurant_update_payment_information_path(@restaurant), html: { class: 'form-horizontal' }) do |form| %>
      <!-- Add form fields for payment information -->
      <div class="form-group">
        <%= form.label :stripe_account_id, "Stripe account ID", class: 'control-label col-sm-4' %>
        <div class="col-sm-5">
          <%= form.text_field :stripe_account_id, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= form.label :bank_account_number, "Número de cuenta bancaria", class: 'control-label col-sm-4' %>
        <div class="col-sm-5">
          <%= form.text_field :bank_account_number, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= form.label :bank_routing_number, "Número de ruta bancaria", class: 'control-label col-sm-4' %>
        <div class="col-sm-5">
          <%= form.text_field :bank_routing_number, class: 'form-control' %>
        </div>
      </div>
    
      <div class="form-group">
        <%= form.label :bank_account_holder_name, "Nombre del titular de la cuenta", class: 'control-label col-sm-4' %>
        <div class="col-sm-5">
          <%= form.text_field :bank_account_holder_name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
          <%= form.label :current_password, "Contraseña actual" %>
          <div class="col-sm-5">
            <%= form.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          </div>
      </div>
    
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= form.submit 'Actualizar', class: 'btn btn-primary btn-margin-top' %>
        </div>
      </div>
    <% end %>
    <div class="password-section">
    <div class="col-sm-5">
    <h3>Ingrese la contraseña para ocultar la informacion del cuenta bancaria</h3>
  </div> 
      <%= form_with url: { action: 'unauthenticate', method: :post } do |form| %>
        <div class="row">
            <div class="col-md-3">
                <%= form.password_field :password, placeholder: 'Contraseña', class: "form-control" %>
            </div>
            <div class="col-md-1">
                <%= form.submit 'Ingresar', class: 'btn btn-primary' %>
            </div>
        </div>
    <% end %>
    </div>
    <% else %>
    <%= form_for(@restaurant, url: restaurant_update_payment_information_path(@restaurant), html: { class: 'form-horizontal' }) do |form| %>
      <!-- Add form fields for payment information -->
      <div class="form-group">
        <%= form.label :stripe_account_id, "Stripe account ID", class: 'control-label col-sm-4' %>
        <div class="col-sm-4">
          <%= form.text_field :stripe_account_id, value: '*********************', class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :bank_account_number, "Número de cuenta bancaria", class: 'control-label col-sm-4' %>
        <div class="col-sm-4">
          <%= form.text_field :bank_account_number, value: '*********************', class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :bank_routing_number, "Número de ruta bancaria", class: 'control-label col-sm-4' %>
        <div class="col-sm-4">
          <%= form.text_field :bank_routing_number, value: '*********************', class: 'form-control', readonly: true %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :bank_account_holder_name, "Nombre del titular de la cuenta", class: 'control-label col-sm-4' %>
        <div class="col-sm-4">
          <%= form.text_field :bank_account_holder_name, value: '*********************', class: 'form-control', readonly: true %>
        </div>
      </div>
    <% end %>
    <div class="password-section">
    <div class="col-sm-6">
      <h3>Ingrese la contraseña para ver la informacion del cuenta bancaria</h3>
    </div>            
        <%= form_with url: { action: 'authenticate', method: :post } do |form| %>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.password_field :password, placeholder: 'Contraseña', class: "form-control" %>
                        </div>
                        <div class="col-md-1">
                            <%= form.submit 'Ingresar', class: 'btn btn-primary' %>
                        </div>
                    </div>
                <% end %>
            </div>
    <% end %>
  </div>
</section>
