<%= form_for([@restaurant, @special_menu], html: { class: 'form-horizontal' }) do |form| %>
  <% if @special_menu.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@special_menu.errors.count, "error") %> prohibited this special_menu from being saved:</h2>
      <ul>
        <% @special_menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre", class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descripción", class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :price, "Precio", class: 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= form.text_field :price, step: '0.01', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :image, "Imagen", class: 'control-label col-sm-2' %>
    <div class="col-sm-3">
      <%= form.file_field :image, class: 'form-control', direct_upload: true %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :instructions, "Información adicional", class: 'control-label col-sm-2' %>
    <div class="col-sm-4">
      <%= form.text_area :instructions, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :minimum_persons , "Mínimo de personas", class: 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= form.number_field :minimum_persons, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :start_hour, "Hora de inicio", class: 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= form.time_field :start_hour, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :end_hour, "Hora final", class: 'control-label col-sm-2' %>
    <div class="col-sm-1">
      <%= form.time_field :end_hour, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= form.submit "Guardar", class: "btn btn-primary btn-margin-top" %>  
    </div>
  </div>
<% end %>
