<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
<% if controller_name == 'restaurants' && action_name == 'show' %>
<%= link_to @restaurant, class: 'navbar-brand' do %>
  <%= image_tag ("bamboo.png") %>
<% end %>
<% else %>
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag ("bamboo.png") %>
  <% end %> 
<% end %>
<% if controller_name != 'restaurants' && action_name != 'show' && controller_name != 'orders' %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<% end %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    <% if controller_name != 'restaurants' && action_name != 'show' && controller_name != 'orders' %>
      <% if restaurant_signed_in? %>
        <li class="nav-item">
          <%= link_to "Dashboard", dashboard_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", destroy_restaurant_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", dashboard_path, class: 'nav-link' %>
        </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% if controller_name == 'restaurants' && action_name == 'show' %>
    <div class="navbar-nav ml-auto">
    <%= link_to '#', class: 'navbar-brand cart-img', id: 'cart-icon', 'data-toggle' => 'modal', 'data-target' => '#cartModal' do %>
      <%= image_tag ("trolley.png") %>
      <span id="cart-item-count"><%= current_cart.cart_items.count %></span>
    <% end %>
    </div>
  <% end %>
</nav>

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 70px;">
  <div class="col-md-6">
    <h2>Solicitar una demo</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  class: "contact-form") do |f| %>
      <%= render "restaurants/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label "correo electrónico" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "nombre de restaurante" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "dirección" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "número de teléfono" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "contraseña" %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "confirmar contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "solicita una demo", class: "btn btn-primary restaurant-demo-btn" %>
      </div>
    <% end %>
  </div>
</div>
