<%= render 'layouts/header_welcome' %>


<div class="container d-flex justify-content-center align-items-center" style="margin-top: 70px;">
  <div class="col-md-6">
    <h2>Solicitar una demo</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  class: "contact-form") do |f| %>
      <%= render "restaurants/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label "correo electrónico" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "nombre de restaurante" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "dirección" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "número de teléfono" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "contraseña" %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "confirmar contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "solicita una demo", class: "btn btn-primary restaurant-demo-btn" %>
      </div>
    <% end %>
  </div>
</div>
