<%= render 'layouts/header_admin' %>

<section class="home dashboard-index">
<div class="container">

<h1>Restaurantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Número de teléfono</th>
      <th>Ciudad</th>
      <th>País</th>
      <th>Còdigo postal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td class="admin-restaurants"><%= restaurant.name %></td>
        <td class="admin-restaurants"><%= restaurant.address %></td>
        <td class="admin-restaurants"><%= restaurant.phone_number %></td>
        <td class="admin-restaurants"><%= restaurant.city %></td>
        <td class="admin-restaurants"><%= restaurant.country %></td>
        <td class="admin-restaurants"><%= restaurant.postal_code %></td>
        <td class="admin-restaurants"><%= link_to 'Ver', restaurant_dashboard_path(restaurant), class: 'btn btn-primary btn-dashboard' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</section>