
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-edit" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Tu pedido</h5>
      </div>
      <div class="modal-body">

        <% if current_cart.present? %>
        <div id="cart-items">
          <% current_cart.cart_items.each do |cart_item| %>              
            <% if cart_item.special_menu.present? %>
              <div class="row cart-item" data-menu-id="<%= cart_item.id %>">
              <div class="col-6 col-sm-6 col-md-6">
                  <h5><%= cart_item.special_menu.name %></h5>
                  <p class="special-menu-cart-item-food-items" style="font-weight: bold; font-size: 10px; color:rgb(128, 0, 255);">
                  <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
                    <%= cart_item_food_item.food_item.name %><% if cart_item.cart_item_food_items.last.food_item != cart_item_food_item.food_item %>, <% end %>
                  <% end %>
                  </p>
              </div>
              <div class="col-2 col-sm-2 col-md-2 cart-buttons-wrapper">
                <h5 class="cart-item-quantity quantity">x <%= cart_item.quantity %></h5>
              </div>
              <div class="col-2 col-sm-2 col-md-2 cart-buttons-wrapper">
              <%= link_to '-', remove_special_menu_restaurant_cart_path(@restaurant, cart_item_id: cart_item.id), method: :delete, class: "btn btn-danger remove_special_menu", remote: true %>
              <%= form_with(url: add_to_cart_restaurant_cart_path(@restaurant, special_menu_id: cart_item.special_menu_id, food_item_ids: cart_item.cart_item_food_items.map { |item| [item.food_item_id, item.food_item_id.to_s] }.to_h ), method: :post, local:true, class: 'special-menu-form') do |form| %>
              <%= form.submit '+', class: "btn btn-primary" %>
              <% end %>
              </div>
                <div class="col-2 col-sm-2 col-md-2">
                  <h5 class="price"><%= number_to_currency(cart_item.special_menu.price * cart_item.quantity, precision: 2, unit: '€') %></h5>            
                </div>
                </div>  
            <% elsif cart_item.cart_item_food_items.present? %>
            <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
            <div class="row cart-item" data-food-id="<%= cart_item.id %>">
            <div class="col-6 col-sm-6 col-md-6">
                <h5><%= cart_item_food_item.food_item.name %></h5>
            </div>
            <div class="col-2 col-sm-2 col-md-2">
              <h5 class="cart-item-quantity quantity">x <%= cart_item.quantity %></h5>
            </div>
            <div class="col-2 col-sm-2 col-md-2 cart-buttons-wrapper">
            <%= link_to '-', remove_from_cart_restaurant_cart_path(@restaurant, cart_item_id: cart_item.id), method: :delete, class: "btn btn-danger remove-cart-item", remote: true %>
            <%= form_with url: add_to_cart_restaurant_cart_path(@restaurant, food_item_id: cart_item_food_item.food_item_id), class: "add-to-cart", method: :post, local:true do |form| %>
              <%= form.submit '+', class: "btn btn-primary" %>
            <% end %>
            </div>
            <div class="col-2 col-sm-2 col-md-2">
              <h5 class="price"><%= number_to_currency(cart_item_food_item.food_item.price * cart_item.quantity, precision: 2, unit: '€') %></h5>
            </div>
            </div>
            <% end %>
            <% end %>
          <% end %>
        </div>
        <h5 id="cart-total-price">Total: <%= number_to_currency(current_cart.total_price, precision: 2, unit: '€') %></h5>
        <%= link_to 'Pedir', '#', class: 'btn btn-primary', style:"margin-top: 20px; width: 100%; font-size: 35px !important; padding: 15px", 'data-toggle' => 'modal', 'data-target' => '#paymentMethodModal' %>
        <% else %>
          <p>Your cart is empty.</p>
        <% end %>
      </div>
      <div class="row justify-content-end" style="padding-bottom: 20px; margin-top: 30px">
        <div class="col-auto">
        <%= link_to 'Vaciar', clear_cart_restaurant_cart_path(@restaurant, table_number: params[:table_number]), method: :delete, class: 'btn btn-danger clear-cart' %>
        <%= link_to "CARTA", restaurant_path(@restaurant, table_number: params[:table_number]), class: 'carta-link', style: "margin-right: 20px; position: relative; top: 5px" %>
        </div>
    </div>
    </div>
  </div>
</div>

