
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel"><%= image_tag ("trolley.png"), class: "cart-image" %>Carrito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="margin-top: 0px" id="cart-container">

        <% if current_cart.present? %>
        <div id="cart-items">
          <% current_cart.cart_items.each do |cart_item| %>              
            <% if cart_item.special_menu.present? %>
              <div class="row cart-item">
                <div class="col-8 col-sm-8 col-md-8">
                  <h6><%= cart_item.special_menu.name %></h6>
                  <p style="font-size: 10px; color:rgb(128, 0, 255);">
                  <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
                    <%= cart_item_food_item.food_item.name %><% if cart_item.cart_item_food_items.last.food_item != cart_item_food_item.food_item %>, <% end %>
                  <% end %>
                  </p>
                </div>
                <div class="col-2 col-sm-2 col-md-2">
                <h6 class="cart-item-quantity" data-cart-item-id="<%= cart_item.id %>">x <%= cart_item.quantity %></h6>
                </div>
                <div class="col-2 col-sm-2 col-md-2">
                  <h6><%= number_to_currency(cart_item.special_menu.price * cart_item.quantity, precision: 2, unit: '€') %> 
                  <%# link_to 'x', remove_from_cart_restaurant_cart_path(@restaurant, cart_item),
                   method: :delete, 
                   remote: true, 
                   class: 'btn remove-from-cart-link' %></h6>            
                </div>
                </div>  
            <% elsif cart_item.cart_item_food_items.present? %>
            <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
            <div class="row cart-item">
            <div class="col-8 col-sm-8 col-md-8">
                <h6><%= cart_item_food_item.food_item.name %></h6>
            </div>
            <div class="col-2 col-sm-2 col-md-2">
            <h6 class="cart-item-quantity" data-cart-item-id="<%= cart_item.id %>">x <%= cart_item.quantity %></h6>
            </div>
            <div class="col-2 col-sm-2 col-md-2">
              <h6><%= number_to_currency(cart_item_food_item.food_item.price * cart_item.quantity, precision: 2, unit: '€') %></h6>
            </div>
            </div>
            <% end %>
            <% end %>
          <% end %>
        </div>
            <h2 id="cart-total-price">Total: <%= number_to_currency(current_cart.total_price, precision: 2, unit: '€') %></h2>
            <%= link_to 'Pagar', new_restaurant_order_path(@restaurant), class: 'btn btn-primary', style:"margin-top: 20px" %>
          <% else %>
            <p>Your cart is empty.</p>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
      <%= link_to 'Vaciar', clear_cart_restaurant_cart_path(@restaurant), method: :delete, class: 'btn btn-danger clear-cart' %>
        <button type="button" class="btn btn btn-primary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>

