<%= form_for([@restaurant, @order], html: {class: "form-horizontal", id: "stripe-payment-form", data: { clientSecret: @client_secret }}) do |form| %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
    <% if @order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.hidden_field :payment_method, id: "order_payment_method" %>

      <h2 id="payment-method-value"></h2>
      
      <div id="payment-form">
        <div class="form-group">
          <label class="control-label" for="card-element">Credit or Debit Card</label>
            <div id="card-element">
            </div>
            <div id="card-errors" class="text-danger" role="alert"></div>
        </div>
      </div>
      <div class="form-group">
          <%= form.submit "Pedir", class: "btn btn-primary btn-margin-top", style: "width: 100%; font-size: 30px !important", id: "submit-order" %>
      </div>

    <script>
    $(document).ready(function() {
      var selectedPaymentMethod = sessionStorage.getItem("selectedPaymentMethod");

      // If a payment method was selected on the restaurant show page, set it in the form
      if (selectedPaymentMethod) {
        $("#order_payment_method").val(selectedPaymentMethod);
      }

      $("#payment-method-value").text("Forma de pago: " + selectedPaymentMethod);

      if (selectedPaymentMethod === "Tarjeta Bancaría") {
        // Do something specific for the "Tarjeta Bancaría" payment method
        // For example, display the payment form related to this payment method
        $("#payment-form").show();
      } else {
        // For other payment methods, you can hide the payment form or perform other actions
        $("#payment-form").hide();
      }
    });
  </script>
  <% end %>


  