<%= form_for([@restaurant, @order], html: {class: "form-horizontal", id: "stripe-payment-form", data: { clientSecret: @client_secret }}) do |form| %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
    <% if @order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.hidden_field :payment_method, id: "order_payment_method" %>
      <%= form.hidden_field :table_number, value: params[:table_number] %>

      <h2 id="payment-method-value"></h2>
      
      <div class="form-group">
          <%= form.submit "Pedir", class: "btn btn-primary btn-margin-top", style: "width: 100%; font-size: 35px !important; padding: 15px", id: "submit-order" %>
      </div>

    <script>
    $(document).ready(function() {
      var selectedPaymentMethod = sessionStorage.getItem("selectedPaymentMethod");

      if (selectedPaymentMethod) {
        $("#order_payment_method").val(selectedPaymentMethod);
      }

      $("#payment-method-value").text("Forma de pago: " + selectedPaymentMethod);

      var submitButton = $("#submit-order");
      if (selectedPaymentMethod === "Efectivo") {
        submitButton.val("Pedir");
      } else {
        submitButton.val("Pagar");
      }
    });
  </script>
  <% end %>
