<%= form_for([@restaurant, @order], html: {class: "form-horizontal", id: "stripe-payment-form", data: { clientSecret: @client_secret }}) do |form| %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger">
      <%= flash[:error] %>
    </div>
  <% end %>
    <% if @order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= form.hidden_field :payment_method, id: "order_payment_method" %>
      <%= form.hidden_field :table_number, value: params[:table_number] %>

      <h2 id="payment-method-value"></h2>
      
      <div id="payment-form">
        <div class="form-group">
          <label class="control-label" for="card-element">Credit or Debit Card</label>
            <div id="card-element">
            </div>
            <div id="card-errors" class="text-danger" role="alert"></div>
        </div>
      </div>
      <div class="form-group">
          <%= form.submit "Pedir", class: "btn btn-primary btn-margin-top", style: "width: 100%; font-size: 35px !important", id: "submit-order" %>
      </div>

    <script>
    $(document).ready(function() {
      var selectedPaymentMethod = sessionStorage.getItem("selectedPaymentMethod");

      // If a payment method was selected on the restaurant show page, set it in the form
      if (selectedPaymentMethod) {
        $("#order_payment_method").val(selectedPaymentMethod);
      }

      $("#payment-method-value").text("Forma de pago: " + selectedPaymentMethod);

      if (selectedPaymentMethod === "Tarjeta Bancaría") {
        // Do something specific for the "Tarjeta Bancaría" payment method
        // For example, display the payment form related to this payment method
        $("#payment-form").show();
      } else {
        // For other payment methods, you can hide the payment form or perform other actions
        $("#payment-form").hide();
      }
    });
  </script>
  <% end %>

  <script>

document.addEventListener("turbolinks:load", function() {
  const stripe = Stripe('pk_test_51NS2OyIULic551znN5qUeq7168Gyt9bka1OWGD4jmbI8MkfJSy9axar3uiwSMoOTipm9lclj9eWqI7iRl7mEeufe000lH5hnuT'); // Replace with your own test publishable key
  const elements = stripe.elements();
  const cardElement = elements.create('card');

  cardElement.mount('#card-element');

  const form = document.getElementById('stripe-payment-form');
  const errorElement = document.getElementById('card-errors');
  const submitButton = document.getElementById('submit-order');
  const paymentForm = document.getElementById('payment-form');
  const totalAmount = paymentForm.dataset.totalAmount;
  const clientSecret = form.dataset.clientSecret.toString();
  console.log(clientSecret);

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    // Disable the submit button to prevent multiple clicks
    submitButton.disabled = true;

    if (cardElement._empty) {
      // Display an error message or handle the validation error
      errorElement.textContent = 'Please enter payment information.';
      submitButton.disabled = false; // Re-enable the submit button
      return;
    }

    try {
      const { paymentIntent, error } = await stripe.confirmCardPayment(
        clientSecret,
        {
          payment_method: {
            card: cardElement,
          },
        }
      );

      if (error) {
        // Display error message
        errorElement.textContent = error.message;
      } else {
        // Set the value of the hidden field to the payment method ID
        const paymentIntentInput = document.createElement('input');
        paymentIntentInput.setAttribute('type', 'hidden');
        paymentIntentInput.setAttribute('name', 'payment_intent_id');
        paymentIntentInput.value = paymentIntent.id;
        form.appendChild(paymentIntentInput);

        // Submit the form using AJAX
        const formData = new FormData(form);
        const response = await fetch(form.action, {
          method: form.method,
          body: formData
        });

        if (response.ok) {
          // Success, handle the response or redirect as needed
        } else {
          // Handle errors or display error message
        }
      }
    } catch (error) {
      // Display error message
      errorElement.textContent = error.message;
    } finally {
      // Re-enable the submit button
      submitButton.disabled = false;
    }
  });
});

</script>

  