<style>
  .cart-item td {
    border: none; /* Remove borders */
    padding: 5px; /* Increase spacing */
  }

  .cart-item-quantity {
    margin-right: 10px; /* Increase space between quantity and price */
  }

  table tr td {
    border-color: transparent !important; /* Make borders transparent */
    border: none !important;
  }

  body {
    border-color: transparent !important; /* Make borders transparent */
    border: none !important;
    font-size: 25px !important;
  }

  a, button {
    font-size: 30px !important;
  }
  h1, h2 {
    font-size: 30px !important;
    font-weight: bold;
  }
  h3 {
    font-size: 30px !important;
  }
  p {
    font-size: 20px !important;
    font-weight: bold
  }
</style>

<table>
  <% cart.cart_items.each do |cart_item| %>
    <% if cart_item.special_menu.present? %>
      <tr class="cart-item">
        <td>
          <h2><%= cart_item.special_menu.name %></h2>
          <h2 style="font-size: 10px; color: rgb(128, 0, 255);">
            <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
              <%= cart_item_food_item.food_item.name %><% if cart_item.cart_item_food_items.last.food_item != cart_item_food_item.food_item %>, <% end %>
            <% end %>
          </h2>
        </td>
        <td></td>
        <td></td>
        <td><h2>x <%= cart_item.quantity %></h2></td>
        <td><h2><%= number_to_currency(cart_item.special_menu.price * cart_item.quantity, precision: 2, unit: '€') %></h2></td>
      </tr>
    <% elsif cart_item.cart_item_food_items.present? %>
      <% cart_item.cart_item_food_items.each do |cart_item_food_item| %>
        <tr class="cart-item">
          <td>
            <h2><%= cart_item_food_item.food_item.name %></h2>
          </td>
          <td></td>
          <td></td>
          <td><h2 class="cart-item-quantity">x <%= cart_item.quantity %></h2></td>
          <td><h2><%= number_to_currency(cart_item_food_item.food_item.price * cart_item.quantity, precision: 2, unit: '€') %></h2></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>

  <tr> 
    <td colspan="5">
      <h2>Total: <%= number_to_currency(cart.total_price, precision: 2, unit: '€') %></h2>
    </td>
  </tr>
</table>

<p>Tabla: <%= order.table_number %></p>
<p>Forma de pago: <%= order.payment_method %></p>
<p><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
