<%= form_for([@restaurant, @food_item]) do |form| %>
  <% if food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
      <% food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  
  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, @restaurant.categories, :id, :name %>
  </div>

  <%= form.file_field :image, direct_upload: true %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
