<% content_for :title, @restaurant.name %>

<%= render 'layouts/header_customer' %>

<div class="container client-container restaurant-show-page">
  <h1>
    <%= @restaurant.name %>
  </h1>




    <div class="row">
    <ul class="nav nav-tabs custom-fixed-nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#" data-category-target="all">TODOS</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" href="#" data-category-target="#special-menus">MENÚS ESPECIALES</a>
</li>
  <% @restaurant.categories.each_with_index do |category, index| %>
    <% if category.food_items.present? %>
      <li class="nav-item">
        <a class="nav-link" href="#" data-category-target="#category<%= index %>"><%= category.name %></a>
      </li>
    <% end %>
  <% end %>

</ul>
      <div class="col-md-12 tables-margin-top">
      <div id="special-menus" class="special-menus category-content special-menus-content">
      <h5 class="menu-name">MENÚS ESPECIALES</h5>
    
      <% @restaurant.special_menus.each_slice(1) do |special_menus_group| %>
        <div class="row">
          <% special_menus_group.each do |special_menu| %>
            <% if special_menu.in_time_range? %>
              <div class="col-md-12">
                <div class="special-menu-container container">
                  <%= form_with(url: add_to_cart_restaurant_cart_path(@restaurant), method: :post, remote: true, local:true, data: { menu_id: special_menu.id }, class: 'special-menu-form') do |form| %>
                    <%= form.hidden_field :special_menu_id, value: special_menu.id %>
                    <div class="row">
                      <div class="col-6 col-sm-6 col-md-6">
                        <%= image_tag special_menu.image, class: "special-menu-image menu-item" if special_menu.image.attached? %>
                      </div>
                      <div class="col-6 col-sm-6 col-md-6">
                        <p><%= simple_format(special_menu.description, class: "simple-format-description") %></p>
                        <% special_menu.food_types.each do |food_type| %>
                          <div class="form-group">
                            <%= form.label "food_item_ids[#{food_type.id}]", food_type.name %>
                            <% if food_type.have_to_select_one == true %>
                              <%= form.collection_select "food_item_ids[#{food_type.id}]", food_type.food_items, :id, :name, { prompt: true, selected: food_type.food_items.first.id }, class: 'form-control' %>
                            <% else %>
                              <p>
                                <% food_type.food_items.each do |food_item| %>
                                  <%= food_item.name %> <% if food_type.food_items.last != food_item %>- <% end %>
                                <% end %>
                              </p>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="text-center">
                        <h4 class="special-menu-name"><%= special_menu.name %></h4>
                        <h6 class="menu-price"><%= number_to_currency(special_menu.price, precision: 2, unit: '€') %></h6>
                        <%= form.submit '+', class: "btn btn-primary" %>
                        <% end %>
                    </div>
                    <h6><i class='bx bx-user' style="font-size: 30px;"></i> <%= special_menu.minimum_persons %></h6>
                        <% if special_menu.instructions.present? %>
                        <p style="margin-top:10px"><%= simple_format(special_menu.instructions, class: "simple-format-description") %></p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    

      <% @restaurant.categories.each_with_index do |category, index| %>
        <% if category.food_items.present? %>
          <div id="category<%= index %>" class="category-content" style="display: <%= index.zero? ? 'block' : 'none' %>;">
            <h5 class="category-name"><%= category.name %></h5>
            <% category.food_items.each_slice(2) do |food_items_slice| %>
              <div class="row">
                <% food_items_slice.each do |food_item| %>
                  <div class="col-6 col-sm-6 col-md-6">
                    <div class="food-item-container text-center" data-toggle="modal" data-target="#foodItemModal"
                         data-name="<%= food_item.name %>"
                         data-description="<%= food_item.description %>"
                         data-price="<%= number_to_currency(food_item.price, precision: 2, unit: '€') %>"
                         data-image-url="<%= url_for(food_item.image) if food_item.image.attached? %>">
                      <%= image_tag food_item.image, class: "menu-image menu-item" if food_item.image.attached? %>
                      <h6><%= food_item.name %></h6>
                      <h6><%= number_to_currency(food_item.price, precision: 2, unit: '€') %></h6>
                      <%= link_to '+', add_to_cart_restaurant_cart_path(@restaurant, food_item_id: food_item.id), class: "btn btn-primary add-to-cartt", remote: true %>
                      <% if food_item.minimum_persons.present? %>
                        <h6><i class='bx bx-user btn-margin-top' style="font-size: 20px;"></i> <%= food_item.minimum_persons %></h6>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      
      
      </div>
      <div class="col-md-5 tables-margin-top">
        <!-- Cart -->
        <%= render 'shared/cart' %>
      </div>
    </div>
</div>

<!-- Payment Method Selection Modal -->
<div class="modal fade" id="paymentMethodModal" tabindex="-1" role="dialog" aria-labelledby="paymentMethodModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-edit" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentMethodModalLabel" style="font-size: 35px !important; font-weight: bold">Forma de pago</h5>
      </div>
      <div class="modal-body">
        <div class="row text-center">
          <div class="col-6 col-md-6 col-sm-6">
            <%= image_tag "card.png", alt: "Visa", class: "payment-option selected", data: { method: "Tarjeta Bancaría" } %>
            <h6 class="control-label">Tarjeta Bancaría <br> Apple Pay <br> Google Pay</h6>
          </div>
          <div class="col-6 col-md-6 col-sm-6">  
            <%= image_tag "money.png", alt: "PayPal", class: "payment-option", data: { method: "Efectivo" } %>
            <h6 class="control-label">Efectivo</h6>
          </div>
        </div>
        <div class="text-center" style="padding-bottom: 35px;">
        <!-- Update the button to trigger the AJAX request -->
        <button type="button" class="btn btn-primary btn-margin-top" style="width: 100%; font-size: 35px !important" id="select-payment-method">Continuar</button>
        </div>
      </div>

      <div class="row justify-content-end" style="padding-bottom: 35px;">
      <div class="col-auto">
        <%= link_to "CARTA", restaurant_path(@restaurant), class: 'carta-link', style: "margin: 20px" %>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="modal fade" id="foodItemModal" tabindex="-1" role="dialog" aria-labelledby="foodItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-food" role="document">
    <div class="modal-content modal-food">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
              <div id="foodItemImageContainer">
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6">
              <div id="foodItemDetails">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.food-item-container').click(function() {
      var name = $(this).data('name');
      var description = $(this).data('description');
      var imageUrl = $(this).data('image-url');
      
      var imageContent = '<img src="' + imageUrl + '" alt="' + name + '" class="food-item-image">';
      var detailsContent = '<div class="food-item-name">' + name + '</div>';
      detailsContent += '<div class="food-item-description">' + description + '</div>';

      $('#foodItemImageContainer').html(imageContent);
      $('#foodItemDetails').html(detailsContent);
    });
  });
</script>
<style>


  .food-item-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
  }

  .food-item-description {
    font-size: 22px;
    margin-top: 10px;
  }
</style>





<script>
  var restaurantId = <%= @restaurant.id %>;

  $(document).ready(function() {
    $('.category-content, .special-menus-content').show();
    $('.nav-link').click(function(e) {
      e.preventDefault();
      const targetCategory = $(this).data('category-target');

      // Remove .active class from all links
      $('.nav-link').removeClass('active');

      // Add .active class to the clicked link
      $(this).addClass('active');

      // Handle showing/hiding category content and special menus
      if (targetCategory === 'all') {
        $('.category-content, .special-menus-content').show();
      } else if (targetCategory === '#special-menus') {
        $('.category-content').hide();
        $('.special-menus-content').show();
      } else {
        $('.category-content, .special-menus-content').hide();
        $(targetCategory).show();
      }
    });
  });
</script>



<script>
  // Event listener for the "Elegir" button in the modal
  $("#select-payment-method").on("click", function() {
    // Get the selected payment_method from the clicked payment-option
    var selectedPaymentMethod = $(".payment-option.selected").data("method");

    // Store the selected payment method in session storage
    sessionStorage.setItem("selectedPaymentMethod", selectedPaymentMethod);

    // Close the modal
    $("#paymentMethodModal").modal("hide");
  });

  // Event listener to highlight the selected payment-option
  $(".payment-option").on("click", function() {
    $(".payment-option").removeClass("selected");
    $(this).addClass("selected");
  });
</script>


