<div class="container margin-top-container">
  <h1>
    <%= @restaurant.name %>
  </h1>
    <div class="row">
      <div class="col-md-7 tables-margin-top">
      <%= link_to 'Ver nuestros menús', restaurant_special_menus_path(@restaurant), class: "btn btn-primary" %>
      <h2 class="menu-name" style="margin-top:10px">Carta</h2>
      <% @restaurant.categories.each do |category| %>
        <h4><%= category.name %></h4>
        <% category.food_items.each do |food_item| %>
          <div class="row food-item-container">
            <div class="col-2 col-sm-2 col-md-2">
              <%= image_tag food_item.image, class: "menu-image menu-item" if food_item.image.attached? %>
            </div>
            <div class="col-7 col-sm-7 col-md-7">
              <h5><%= food_item.name %></h5>
              <p><%= simple_format(food_item.description) %></p>
            </div>
            <div class="col-3 col-sm-3 col-md-3">
              <h6><%= number_to_currency(food_item.price, precision: 2, unit: '€') %></h6>
              <%= link_to '+', restaurant_path(@restaurant), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
      <div class="col-md-5 tables-margin-top">
      <%= link_to 'Tablas', restaurant_tables_path(@restaurant), class: "btn btn-primary" %>
      <%= link_to 'nueva comida', new_restaurant_food_item_path(@restaurant), class: "btn btn-primary" %>
      <%= link_to 'nueva categoría', new_restaurant_category_path(@restaurant), class: "btn btn-primary" %>
      <%= link_to 'nueva menu', new_restaurant_special_menu_path(@restaurant), class: "btn btn-primary" %>
      </div>
    </div>
    

</div>
